<div class="profile-section">
  <%= link_to :back do %>
    <i class="fas fa-long-arrow-alt-left primary-text medium-text"></i>
  <% end %>
  <h2 class="primary-text mt-3"><%= current_user.full_name %></h2>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="mt-3 form-inputs" style="padding: 0 38px">
    <span class="small-text secondary-text w-100">First Name</span>
    <%= f.input :first_name, required: true, autofocus: true, label: false %>
    <span class="small-text secondary-text w-100">Middle Name(s)</span>
    <%= f.input :middle_name, required: true, autofocus: true, label: false %>
    <span class="small-text secondary-text w-100">Last Name</span>
    <%= f.input :last_name, required: true, autofocus: true, label: false %>
    <span class="small-text secondary-text w-100">Email</span>
    <%= f.input :email, required: true, autofocus: true, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "secondary-background" %>
  </div>
<% end %>



