<div class="view-height white-rounded-top">
  <div class="card-section">
    <h4 class="dash-header">Account</h4>
    <div class="card-holder">
      <div class="small-hox-card" style="background-image: url(<%= image_path('card.png') %>">
        <div class="small-card-head">
          <div>
            <h5 class="small-numbers"><%= @accounts.first["uk_account_number"] %></h5>
            <h5 class="small-sort-code"><%= ApplicationRecord.to_sort(@accounts.first["uk_sort_code"]) %></h5>
          </div>
          <h5 class="small-railsbank">RailsBank</h5>
        </div>
        <h5 class="small-numbers mt-4">£ <%= @accounts.first["amount"].to_s + ".00" %></h5>
      </div>
    </div>
  </div>
  <form action="create_transfer" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="left-margin-10vw">
      <label for="amount" class="d-block">Amount</label>
      <% if params['amount'] != nil %>
        <input type="float" name="amount" class="railsbank-input" placeholder="£0.00" id="amount" value=<%= params['amount'] %>>
      <% else %>
        <input type="float" name="amount" class="railsbank-input" placeholder="£0.00" id="amount">
      <% end %>
      <% if @beneficiary_id %>
        <a href="#" id="redirectLink" data-beneficiary=<%= @beneficiary_id %>>
          <div class="transaction">
            <div class="transaction-image">
              <h4 style="font-size:0.9rem;margin: 0;color: white;font-weight:bold"><%= ApplicationRecord.to_initials(@beneficiary_name) %></h4>
            </div>
            <div class="transaction-details">
              <div class="transaction-inner">
                <p class="p07 transaction-reference grey"><%= @beneficiary_name %></p>
                <p class="p07 transaction-reference light-gray"><%= @account %>|<%= ApplicationRecord.to_sort(@sort) %> </p>
              </div>
            </div>
          </div>
        </a>
        <input type="text" hidden="true" name="name" value="<%= @beneficiary_name %>">
        <input type="text" hidden="true" name="account" value="<%= @accounts.first["ledger_id"] %>">
        <input type="text" hidden="true" name="beneficiary" value="<%= @beneficiary_id %>">
      <% else %>
        <a href="#" id="redirectLink">
          <div class="transaction">
            <div class="transaction-image"><i class="fas fa-plus choose-benficiary"></i></div>
            <div class="transaction-details">
              <div class="transaction-inner">
                <p class="p07 transaction-reference grey">Choose Beneficary</p>
              </div>
            </div>
          </div>
        </a>
      <% end %>
      <input type="submit" class="btn railsbank-btn disabled" disabled value="Send Money" id="sendBtn">
    </div>
  </form>
</div>

<script>
  const redirectLink = document.getElementById("redirectLink")
  const amount = document.getElementById("amount")
  const sendBtn = document.getElementById("sendBtn")

  if(amount.value > 0 && redirectLink.dataset.beneficiary) {
    sendBtn.classList.remove('disabled')
    sendBtn.disabled = false
  }

  amount.addEventListener('blur', () => {
    if(amount.value > 0 && redirectLink.dataset.beneficiary) {
      sendBtn.classList.remove('disabled')
      sendBtn.disabled = false
    }
  })

  redirectLink.addEventListener('click', () => {
    let url = window.location.href.replace('send_money', 'choose_beneficiary');
    const toBeSent = amount.value
    const redirect = url += `?amount=${toBeSent}`
    window.open(redirect, '_self');
  })

</script>
