<div class="view-height white-rounded-top">
  <div class="left-margin-10vw pt-3 h-100">
    <% if @transaction["transaction_status"] == "transaction-status-declined" %>
      <%= render "shared/failure", transaction: @transaction %>
    <% elsif @transaction["transaction_status"] == "transaction-status-pending" %>
      <%= render "shared/success", transaction: @transaction %>
    <% else %>
      <%= render "shared/success", transaction: @transaction %>
    <% end %>
    <h6>Remaining Balance - £ <%= @ledger["amount"] %></h6>
    <%= link_to "Make another payment", send_money_path, class: "btn railsbank-btn railsbank-btn-fixed-bottom" %>
  </div>
</div>
