<!-- <div class="footer">
  <%= link_to root_path do %>
    <i class="fas fa-home"></i>
  <% end %>
  <%= link_to send_money_path do  %>
    <i class="fas fa-credit-card"></i>
  <% end %>
  <%= link_to choose_beneficiary_path do %>
    <i class="fas fa-user-plus"></i>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt"></i>
  <% end %>
</div> -->

<div class="footer">
  <%= link_to root_path do %>
    <i class="fas fa-home"></i>
    <p>Home</p>
  <% end %>
  <%= link_to send_money_path, method: :post do  %>
    <i class="fas fa-credit-card"></i>
    <p>Transfers</p>
  <% end %>
  <%= link_to choose_beneficiary_path do %>
    <i class="fas fa-user-plus"></i>
    <p>Beneficiary</p>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt"></i>
    <p>Logout</p>
  <% end %>
</div>
