<div class="card-section">
  <h4 class="dash-header">Payment Success!</h4>
</div>
<div class="choose-section">
  <div class="forgot-button">
    <i class="fas fa-check-circle blue bigicon"></i>
  </div>
  <h5 class="numbers tc">£ <%= transaction["amount"].to_s + ".00" %></h5>
  <h6 class="tc lighter mv">sent to</h6>
  <h5 class="tc"><strong><%= transaction["transaction_printout"]["beneficiaryname"] %></strong></h5>
  <h6 class="tc numbers lighter mv"><%= ApplicationRecord.to_sort(@transaction["payment_info"]["domesticInstructionAccount"]["sortCode"]) %>|<%= @transaction["payment_info"]["domesticInstructionAccount"]["accountNumber"] %></h6>
  <h6 class="tc">Remaining Balance:</h6>
  <h6 class="tc"><span class="numbers">£ <%= @ledger["amount"].to_s + ".00" %></span></h6>
  <%= link_to send_money_path do %>
    <div class="btn railsbank-btn">Make another payment</div>
  <% end %>
</div>
