<div class="landing">
  <%= image_tag "pinkShape1", alt: "HoxtonBankDesign", class: "landing-top-right" %>
  <%= image_tag "pinkBlob1", alt: "HoxtonBankDesign", class: "landing-center" %>
  <%= image_tag "purpleBlob1", alt: "HoxtonBankDesign", class: "landing-right" %>
  <%= image_tag "cyanBlob1", alt: "HoxtonBankDesign", class: "landing-middle-right" %>
  <%= image_tag "yellowShape1", alt: "HoxtonBankDesign", class: "landing-left-top" %>
  <%= image_tag "hoxtonBankSplash", alt: "HoxtonBank", class: "landing-splash" %>
  <div class="landing-text">
    <h1 class="landing-welcome">Welcome to</h1>
    <h1 class="landing-hoxtonBank">Hoxton<strong>Bank</strong></h1>
  </div>
  <%= link_to dashboard_path, class: "landing-bottom-right" do %>
    <p class="no-margin landing-start">Start</p>
  <% end %>
</div>
